{
    "parser": "@babel/eslint-parser", 
    "parserOptions": {
      "ecmaVersion": 8,   
      "sourceType": "module",
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "impliedStrict": true,
        "classes": true
      }
    },
    "extends": ["airbnb", "prettier"]
}